
{% load i18n %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}



  <body class="bg-light">
    <div class="container mt-4">
        <header>
            {% include "navigation.html" %}
        </header>
      </div>

    
      <div class="container">
      <main>
{% bootstrap_messages %}
        {% block content %}
        {% endblock %}
      </main>
      </div>
      </body>
    <div class="container wrapper flex-grow-1">
    </div>
    <footer>
      <div class="container my-5 pt-4 border-top">
        <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
      </div>
    </footer>
