
{% load i18n %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}



  <body class="bg-light">
    <div class="container mt-4">
        <header>
            {% include "navigation.html" %}
        </header>
      </div>
{% if messages %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
{% endif %}
    
      <div class="container">
      <main>
        {% block content %}
        {% endblock %}
      </main>
      </div>
      </body>
    <div class="container wrapper flex-grow-1">
    </div>
    <footer>
      <div class="container my-5 pt-4 border-top">
        <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
      </div>
    </footer>
