{% load i18n %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a class="navbar-brand" href="/">{% trans 'Task manager' %}</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggleExternalContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'list_users'%}">{% trans 'Users' %}</a>
            </li>
            {% if user.is_authenticated %}
             <li class="nav-item">
                <a class="nav-link" href="{% url 'list_statuses'%}">{% trans 'Statuses' %}</a>
            </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'list_labels'%}">{% trans 'Labels' %}</a>
            </li>  
                <li class="nav-item">
                <a class="nav-link" href="{% url 'list_tasks'%}">{% trans 'Tasks' %}</a>
            </li>  
            {% endif %}
            

        </ul>
        <ul class="navbar-nav">
        {% if user.is_authenticated %}
            <form action="/logout/" method="post">
                {% csrf_token %}
              <input class="btn nav-link" type="submit" value={% trans 'Exit' %}>
            </form>
        {% elif not user.is_authenticated %}    
            <li class="nav-item">
                <a class="nav-link" href="/login/">{% trans 'Enter' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/create/">{% trans 'Registration' %}</a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>