{% extends 'layout.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}
<h1 class="my-4">


    {% trans "Users" %}

</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>{% trans "User name" %}</th>
        <th>{% trans "Full name" %}</th>
        <th>{% trans "Date of creation" %}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{user.get_full_name}}</td>
                <td>{{ user.date_joined }}</td>
                <td>
                    <a href="{% url 'update_user' user.id %}">{% trans "Change" %}</a>
                    <br>
                    <a href="{% url 'delete_user' user.id %}">{% trans "Delete" %}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}